.weather-card {
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.forecast-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 400px)); /* Dynamic columns */
  grid-gap: 20px; /* Spacing between items */
  padding: 20px;
}
