.search {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
}
.search-input {
  width: 40%;
  height: fit-content;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 12px 10px;
}
.search-btn {
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid gray;
  transition: all 0.2s ease;
  &:hover {
    background-color: gray;
  }
  &:hover > svg {
    fill: black;
  }
}
#map {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 20px;
  min-height: 700px;
}
